@font-face {
    font-family: 'XXII ARABIAN-ONENIGHTSTAND';
    src: url('../resources/XXIIARABIAN-ONENIGHTSTAND-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

#logo-text {
    font-family: 'XXII ARABIAN-ONENIGHTSTAND';
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    position: relative; top: 5px;
    color: #43023c;
}

.carousel-inner, .carousel-caption{
    height: 600px;
}


.caption {
    position: absolute;
    top: 500px;
    width: 100%;
    text-shadow: #000000 1px 0 10px;
}

#logo {
    height: 50px;
    width: 50px;
}

#star {
    height: 30px;
    width: 30px;
}

.rating {
    text-align: right;
}

.container {
    padding: 20px;
}

.divider {
    color: #ac7b9b;
    font-weight: bold;
}

.tag, .interest {
	background-color:#ac7b9b;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:10px 20px;
	text-decoration:none;
}

.interest {
	pointer-events: none;
}

.tag:active {
    background-color: #900361;
	position: relative;
	top: 1px;
}

.item img {
    max-height: 100%;  
    max-width: 100%; 
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.cover {
    max-height: 500px;
	height: 70%;
	width: auto;
}

.portrait {
	width: 200px;
}

#portrait {
	height: 200px;
	width: 200px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

table {
	width: 100%;
}

h1, h2 {
    font-weight: bold;
}

h1 {
	font-size: 50px;
}

.map, .portrait, .description {
	padding: 20px;
}

.description p {
	text-align: justify;
}

p, h1, span {
    margin: 0;
}

.footer {
    background-color: #43023c;
    color: #ccc0c4;
    font-size: 12px;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.saul {
    font-weight: bold;
}

#guide-table {
    border-collapse:separate; 
    border-spacing: 0 1rem;

}

#guide-table td {
    text-align: center;
}

.yellow {
    color: #fbd16d;
}